<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wylie.springboot_simple.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.wylie.springboot_simple.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rolename, description, enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wylie.springboot_simple.entity.Role">
    insert into role (id, rolename, description, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{rolename,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{enable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wylie.springboot_simple.entity.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rolename != null">
        rolename,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wylie.springboot_simple.entity.Role">
    update role
    <set>
      <if test="rolename != null">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wylie.springboot_simple.entity.Role">
    update role
    set rolename = #{rolename,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
      <select id="getRoleList" parameterType="java.lang.Integer" resultType="com.wylie.springboot_simple.entity.Role">
    select b.rolename
    from user_role a,role b
    where a.roleId=b.id and a.userId=#{userId}
  </select>
</mapper>